doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Minha Loja Online
  body
    header
      h1 Bem-vindo à Minha Loja Online
    main
      section#clientes
        h2 Clientes
        ul
          each cliente in clientes
            li= `${cliente.nome} - ${cliente.email}`
      section#produtos
        h2 Produtos
        ul
          each produto in produtos
            li= `${produto.nome} - ${produto.descricao} - ${produto.preco}`
    footer
      p © 2024 Minha Loja Online
